.section3{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.section3 > h2{
    font-size: 5rem;
}

.bigCard{
    display: flex;
    justify-content: space-evenly;
    border:2px solid white;
}

.value{
    font-size: 4rem;
}
.card-margin{
    margin:2rem;
}

@media only screen and (max-width: 768px),(max-width: 823px) {
    /* For mobile phones: */
    .section3 > h2{
        font-size: 3rem;
    }
    .value{
        font-size: 1rem;
    }

    .bigCard{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card-margin{
        margin: 1rem;
    }
}