.section2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(5, 27, 46);
}

.section2 > h2{
    font-size: 6rem;
}

.content{
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content>a ,.blog-card{
    border: 2px solid rgb(253, 190, 190);
    border-radius: 7px;
    margin: 10px 10px;
    box-shadow: 0 8px 6px 6px black;
    margin: 10%;
}

picture > img{
    width: 100%;
    border-radius: 6px 6px 0 0;
    background-size: cover;
}

.post-stats{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.icon-stat{
    display: flex;
    align-items: inherit;
}

.postreact, .postcomment{
    margin-left: 5px;
}


@media only screen and (max-width: 768px),(max-width: 823px) {
    .section2{
        flex-direction: column;
    }
    .section2 > h2{
        font-size: 3rem;
    }

    /* .content{
        overflow-x: scroll;
    } */
    .content > a{
        width: 100%;
        padding: 2rem;
    }
}